//
   Created by Alexander Belov on 25.07.2015.
   Copyright (C) 2018. Alexander Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        title= action.name
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        // used for object selector
        link(rel='stylesheet', href='/stylesheets/actions.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        style.
            /* for make possible scroll in tabs */
            body {
                overflow: auto !important;
            }
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        script(src='/jquery/jquery.min.js')
        script(src='/jquery-ui/jquery-ui.min.js')
        script(src='/materialize-css/dist/js/materialize.js')
        script.
            var parameters = {
                action: !{JSON.stringify(action)},
                objects: !{JSON.stringify(objects)}
            };

            var entityMap = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#39;',
                '/': '&#x2F;',
                '`': '&#x60;',
                '=': '&#x3D;'
            };

            function escapeHtml(string) {
                return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                    return entityMap[s];
                });
            }
    body
    main
        div.row
            div.col.s12
                //h2= action.name
                //p.right-align= action.description
        div.row
            div.col.s12
                script(src='/javascripts/javaScriptEditor.js')
                script(src='/javascripts/objectsSelector.js')
                script(src= action.link + "/../log_viewer_" + action.sessionID + "/" + action.staticDir + "/" + "logViewer.js")
                script(src= action.link + "/../log_viewer_" + action.sessionID + "/" + action.staticDir + "/" + "menu.js")
                script(src= action.link + '/' + action.staticDir + '/' + 'client.js')
                div#tabPanel.col.s12
                    ul(style="overflow-x:hidden")#mainTabs.tabs
                        li.tab.col.s2: a(href='#counterSettingsTab').active Counter
                        li.tab.col.s2: a(href='#objectsLinksTab') Links
                        li(style="overflow: auto").tab.col.s3: a(href='#variablesDefinitionsTab') Variables
                        li.tab.col.s2.disabled#logTabSelector: a(href='#logTab') Log
                        li.tab.col.s2#importExportTabSelector: a(href='#importExportTab') Import\Export
                div#counterSettingsTab
                    div.row
                        div.col.s12
                            div.card-panel
                                div.row
                                    div.col.l6.m12.s12
                                        div.row
                                            div.input-field.col.s12
                                                select#filterGroupID
                                                label Filter counter by group
                                            div.input-field.col.s12
                                                select#counterIDSelector
                                                    option New counter
                                                label Counters selector
                                            div.col.s12
                                                label
                                                    input(type='checkbox')#selectedCollectorFilter
                                                    span(data-position='top' data-tooltip='Show counters only for selected collector').tooltipped Show counters only for selected collector
                                            input(type='hidden')#counterID
                                            input(type='hidden')#activeCollector
                                    div.col.l6.m12.s12
                                        select(title=""
                                            description="Filter counters by objects"
                                            no-border=1)#objectsIDs
                                div.row
                                    div.col.s3
                                        label
                                            input(type='checkbox' value="1")#disabled
                                            span(data-position='top' data-tooltip='Do not collect data for this counter').tooltipped Disable
                                    div.col.s3
                                        label
                                            input(type='checkbox')#debug
                                            span(data-position='top' data-tooltip='Log debug information for this counter for the "Variables" action.').tooltipped
                                                a(href="#!")#showCountersWithDebug Enable debug
                                                span#goToDebugLink &nbsp;(go to debug)
                                    div.col.s3
                                        label
                                            input(type='checkbox')#taskCondition
                                            span(data-position='top' data-tooltip='The counter can be used as a condition for the task').tooltipped Condition for task
                                    div.col.s3
                                        label
                                            input(type='checkbox')#deleteCounter
                                            span(data-position='top' data-tooltip='Delete selected counter and unlink all linked objects from it').tooltipped Delete counter
                            div.card-panel
                                div.row
                                    div.col.s1.offset-s11
                                        a(href="/help" data-position='top' data-tooltip='Help for the selected collector')#collectorHelpBtn.tooltipped
                                            i.material-icons.right help_outline
                                    div.input-field.col.s12.m4.l4
                                        input(type='text')#name
                                        label(for='name') Counter name
                                    div.input-field.col.s5.m5.l3
                                        select#groupID
                                            option(disabled) Groups are not exists
                                        label Counter group
                                        input(type='hidden')#defaultGroup
                                    div.input-field.col.s1.m1.l1.center-align
                                        button(data-target='counterGroupsSettings')#groupsEditBtn.btn-floating.modal-trigger: i.material-icons playlist_add
                                    div.input-field.col.s12.m4.l4
                                        select#collectorID
                                        label Collector type
                                div.row#collectorParameters
                                div.row
                                    div.input-field.col.s5.m5.l3
                                        select#unitID
                                            option(selected) None
                                        label Units
                                    div.input-field.col.s1.m1.l1.center-align
                                        button(data-target='unitsSettings')#unitsEditBtn.btn-floating.modal-trigger: i.material-icons playlist_add
                                    div.input-field.col.s6.m6.l4
                                        select(disabled)#sourceMultiplier
                                            option None
                                        label Multiplier (depending of units)
                                    div.input-field.col.s6.m6.l2
                                        input(type='text' value='90')#keepHistory
                                        label(for='keepHistory') Keep history (days)
                                    div.input-field.col.s6.m6.l2
                                        input(type='text' value='365')#keepTrends
                                        label(for='keepTrends') Keep trends (days)
                                    div.input-field.col.s12
                                        textarea(data-length="65535").materialize-textarea#description
                                        label(for="description") Description
                div#objectsLinksTab
                    ul.col.s12#updateEventsArea
                    input(type="hidden")#updateEventsOrder
                    div.col.s1
                        a.btn-floating#addUpdateEvent: i.material-icons add
                    div.col.s12
                        input(type="hidden" title="Objects linked to a counter"
                            description="This objects will be linked to a edited counter and collecting data according counter settings with implementation to those objects. You can add objects from LINKS menu"
                        )#linkedObjectsIDs

                div#variablesDefinitionsTab
                    div.row
                        div.col.s12
                            ul.collapsible
                                li
                                    div.collapsible-header
                                        i.material-icons build
                                        span Predefined and inherited variables
                                    div.collapsible-body
                                        span
                                            h4 Predefined variables
                                            ul
                                                li OBJECT_NAME - name of the current object;
                                                li COUNTER_NAME - name of the current counter;
                                                li PARENT_OBJECT_NAME - if the counter has a dependency on another object, then this variable will be assigned the name of the parent object;
                                                li PARENT_COUNTER_NAME - if the counter has a dependency on another object, then this variable will be assigned the name of the parent counter;
                                                li PARENT_VALUE - if the counter has a dependency on another object, then this variable will be assigned the value returned by the counter of the parent object;
                                                li UPDATE_EVENT_STATE - if the counter has a dependency on another counter, then this variable will take the value of the expression for the update event for the counter.
                                                li UPDATE_EVENT_TIMESTAMP - if the counter has a dependency on another counter, then this variable will be set to the timestamp (ms since 1.1.1970) when the update event state was changed
                                                li ALEPIZ_NAME - the name of the instance of ALEPIZ or the empty string if the instance name is not defined.
                                                li ALEPIZ_NAME - the name of the instance of ALEPIZ or the empty string if the instance name is not defined.
                                                li ALEPIZ_ID - ID of the instance of ALEPIZ or 0 if the instance is not defined.
                                            p If the action returned some value, you can use this value in the "task maker" using the %:PREV_ACTION_RESULT:% variable. Also you can use all variables from the parent counter.
                                            span#inheritedVariables
                    ul#variables
                    input(type="hidden")#variablesOrder
                    div.input-field.col.s1.m1.l1
                        a#addVariable.btn-floating: i.material-icons add_box
                        span &nbsp;
                        a#addVariableExpression.btn-floating: i.material-icons library_add
                div#logTab
                    div(style="height: 90vh; overflow: hidden; margin: 10px 0px 0px 10px; border: 1px solid #eee")#tmodule
                        div.row.no-margin#LogViewerForm
                            p.input-field.col.s2
                                select#selectService
                                label Select service
                            p.input-field.col.s3
                                select#selectFile
                                label Select file
                            p.input-field.col.s3
                                input(type="text")#searchInput
                                label(for="searchInput") Search
                            p.input-field.col
                                a.btn-floating.waves-effect.waves-light#searchBtn
                                    i.material-icons#searchBtnIcon search
                            p(style="width:60px").input-field.col
                                label
                                    input(type="checkbox")#searchDirection
                                    span#searchDirectionLabel up
                            p(style="width:60px").input-field.col
                                label
                                    input(type="checkbox")#searchAsRegExp
                                    span#searchAsRegExpLabel re
                            p.input-field.col.s2
                                select#codePage
                                    option(value="") Default UTF-8
                                    option(value="win1251") Windows CP-1251
                                    option(value="cp866") MS-DOS CP-866
                                label Code page
                div#importExportTab
                    div.row
                        div.col.s4.m2.l1.input-field
                            a(data-tooltip='Generate JSON data for exporting the parameters of the edited counter').tooltipped.btn.waves-light#getDataFromCounterBtn Generate
                        div.col.s4.m2.l1.input-field
                            a(data-tooltip='Apply data from the editor to the counter').tooltipped.btn.waves-light#applyDataToCounterBtn &nbsp;&nbsp;Apply&nbsp;&nbsp;
                        div.col.s4.m2.l1.input-field
                            a(data-tooltip='Save data from editor to file').tooltipped.btn.waves-light#exportCounterBtn &nbsp;Export&nbsp;
                        div.col.s4.m2.l1.input-field.file-field
                            a(data-tooltip='Load counter data from file to editor' style="height: 36px; line-height: 36px").tooltipped.btn.waves-light &nbsp;Import&nbsp;
                                input(type="file" accept=".json")#importCounterBtn
                            div.file-path-wrapper.hide
                                input.file-path.validate(type="text" placeholder="Upload counter" style="height: 36px; line-height: 36px")
                        div.col.s6.m4.l2.input-field.file-field
                            a(data-tooltip='Load counter data from file to editor and apply to counter' style="height: 36px; line-height: 36px").btn.waves-light Import And Apply
                                input(type="file" accept=".json")#importAndApplyCounterBtn
                            div.file-path-wrapper.hide
                                input.file-path.validate(type="text" placeholder="Upload counter" style="height: 36px; line-height: 36px")
                        div.col.s12.m12.l6.input-field
                            label
                                input(type='checkbox' checked)#skipLinkedObjects
                                span(data-tooltip='Skip information about objects linked to the counter').tooltipped Skip linked objects
                    div.row
                        div.col.s12
                            div.card-panel
                                textarea#importExportJSONEditor

        div#counterGroupsSettings.modal.modal-fixed-footer
            div.modal-content
                h4 Counter group settings
                div.col.s12
                    div
                        label
                            input(type='radio' name='groupsAction')#groupsActionNewGroup.with-gap
                            span Add a new group (and enter the name of the new group below)
                    div
                        label
                            input(type='radio' name='groupsAction')#groupsActionEditGroup.with-gap
                            span Edit the name of the selected group (and enter the new group name below)
                    div
                        label
                            input(type='radio' name='groupsAction')#groupsActionSetDefault.with-gap
                            span Set selected group as start in group selector
                    div
                        label
                            input(type='radio' name='groupsAction')#groupsRemoveGroup.with-gap
                            span Delete selected group with all counters included in this group
                div.col.s12.input-field &nbsp;
                div.col.s12.input-field
                    input(type='text')#newGroupName
                    label(for='newGroupName')#newGroupNameLabel New group name
            div.modal-footer
                a(href='#!')#applyGroupsChanges.modal-action.modal-close.btn-flat Apply
                a(href='#!').modal-action.modal-close.btn-flat Cancel


        div#unitsSettings.modal.modal-fixed-footer
            div.modal-content
                h4 Units settings
                div.col.s12
                    div
                        label
                            input(type='radio' name='unitsAction')#unitsActionNewUnit.with-gap
                            span Add a new unit (and enter the parameters of the new unit below)
                    div
                        label
                            input(type='radio' name='unitsAction')#unitsActionEditUnit.with-gap
                            span Edit the name of the selected unit (and enter the unit parameters below)
                    div
                        label
                            input(type='radio' name='unitsAction')#unitsRemoveUnit.with-gap
                            span Delete selected unit with all counters in this unit
                div.col.s12 &nbsp;
                div.col.s12.m8.l3.input-field
                    input(type='text')#newUnitName
                    label(for='newUnitName')#newUnitNameLabel New unit name
                div.col.s12.m4.l2.input-field
                    input(type='text')#newUnitAbbreviation
                    label(for='newUnitAbbreviation')#newUnitAbbreviationLabel Abbreviation
                div.col.s12.m12.l7.input-field
                    input(type='text' value='n, μ, m, K, M, G, T')#newUnitPrefixes
                    label(for='newUnitPrefixes')#newUnitPrefixesLabel Prefixes
                div.col.s12.input-field
                    input(type='text' value='0.0000000001, 0.000001, 0.001, 1000, 1000000, 1000000000, 1000000000')#newUnitMultipliers
                    label(for='newUnitMultipliers')#newUnitMultipliersLabel Multipliers for each prefix
                div.col.s12
                    label
                        input(type='checkbox')#newUnitOnlyPrefixes
                        span Use a prefix without an abbreviation where no abbreviation is used (for example, for time)
            div.modal-footer
                a(href='#!')#applyUnitsChanges.modal-action.modal-close.btn-flat Apply
                a(href='#!').modal-action.modal-close.btn-flat Cancel

        div#modalDeleteConfirm.modal
            div.modal-content
                h4 Delete confirmation
                p Are you sure you want to delete the selected counter?
            div.modal-footer
                a(href='#!')#modalDeleteConfirmYes.modal-action.modal-close.waves-effect.waves-green.btn-flat Yes
                a(href='#!')#modalDeleteConfirmNo.modal-action.modal-close.waves-effect.waves-green.btn-flat No

        div#modalAddUpdateEventConfirm.modal
            div.modal-content
                h4 Confirmation of adding update event to active collector
                p You have selected an active collector. This usually means that this collector itself will receive data using an internal mechanism. Are you sure you want to add an additional external update event for this collector?
            div.modal-footer
                a(href='#!')#modalAddUpdateEventConfirmYes.modal-close.waves-effect.waves-green.btn-flat Yes
                a(href='#!')#modalAddUpdateEventConfirmNo.modal-close.waves-effect.waves-green.btn-flat No

        div#modalCounterNameChangedConfirm.modal
            div.modal-content
                input(type="hidden")#updateVariablesRef
                h4 Confirmation of a change the name of the counter
                p Counter name changed. Do you want to change the variables associated with the name of this counter?
                ul
                    li Click "Yes" to automatically replace the counter name for all variables and save the changes for the counter.
                    li Click "No" to not change the name of the counter for the variables but keep all changes for the counter.
                    li Click "Cancel" to not save any changes to the counter
                p List of variables referring to the old name of this counter:
                ul#modalCounterNameChangedConfirmOldVariablesList
                p List of variables that will refer to the new name of this counter:
                ul#modalCounterNameChangedConfirmNewVariablesList
            div.modal-footer
                a(href='#!')#modalCounterNameChangedConfirmYes.modal-action.modal-close.waves-effect.waves-green.btn-flat Yes
                a(href='#!')#modalCounterNameChangedConfirmNo.modal-action.modal-close.waves-effect.waves-green.btn-flat No
                a(href='#!')#modalCounterNameChangedConfirmCancel.modal-action.modal-close.waves-effect.waves-green.btn-flat Cancel

        div#modalImportEntitiesNotFoundInfo.modal
            div.modal-content
                h4.red-text Import warning
                p.
                    For the correct operation of the counter, it is necessary to export all external
                    entities associated with it.
                p Some entities associated with the counter were not found:
                ul.browser-default#modalImportEntitiesNotFoundList
                p.red-text
                    span(data-import-errror)#groupNotExist.hide Counter group does not exist.
                    span(data-import-errror)#unitNotExist.hide Counter unit does not exist.
                    span(data-import-errror)#sourceMultiplierNotExist.hide Counter source multiplier does not exist.

            div.modal-footer
                a(href='#!').modal-action.modal-close.waves-effect.waves-green.btn Ok

        div#modalExportExternalEntitiesInfo.modal
            div.modal-content
                h4 Information about external associations
                p.
                    For the correct operation of the counter, it is necessary to export all external
                    entities associated with it.
                p List of external entities associated with the counter:
                ul.browser-default#modalExportExternalEntitiesList
            div.modal-footer
                a(href='#!').modal-action.modal-close.waves-effect.waves-green.btn Ok


    footer
        input(type="hidden" name="actionName" value= action.name)